@charset 'utf-8';

html{
    overflow-y: scroll;
    color: #000;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html *{
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html,body{
    min-height: 100%;
    font-family: 'PingFangSC-Regular','Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif;
    word-break: break-all;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
    margin: 0;
    padding: 0;
}
input,button,select,textarea{
    border: none;
    outline: none;
    font-size: 100%;
    -webkit-appearance: none;
}
input::-webkit-search-cancel-button{
  display: none;
}
input[type=search]::-ms-clear{
  display: none;
}
input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
fieldset,img{
    border: 0;
}
abbr,acronym{
    border: 0;
    font-variant: normal;
}
del{
    text-decoration: line-through;
}
address,caption,cite,code,dfn,em,th,var{
    font-style: normal;
    font-weight: 500;
}
ol,ul,li{
    list-style: none;
}
caption,th{
    text-align: left;
}
h1,h2,h3,h4,h5,h6,strong{
    font-size: 100%;
    font-weight: normal;
}
q:before,q:after{
    content: '';
}
sub,sup{
    vertical-align: baseline;
    position:relative;
    font-size: 75%;
    line-height: 0;
}
sup{
    top: -.5em;
}
sub{
    bottom: -.25em;
}
ins,a{
    text-decoration: none;
}
mark{
    background: none;
}
i,em{
    font-style: normal;
}
