    .activities{
    /*福利活动 start*/
    .weal{
        margin: 40px 0; padding:0 60px 80px;background:$cf;
        /*标题 start*/
        .title{
            padding: 30px 0 24px 0; border-bottom: 1px solid #eee;font-size:30px;
            .orange-title{font-size:$px18;color: $cef6c2d; padding-left: 26px;}
        }
        /*标题 end*/

        .content{
            width: 100%;padding-top:40px;
            /*活动 start*/
            .special{
                width: 458px;height: 360px; margin-bottom: 20px; padding:26px 35px 36px;border: 1px solid #e5e5e5;
                &:hover{transition: box-shadow .35s ease;box-shadow:0 0 15px #d9d9d9;}
                h3{font-size:$px18;line-height: $px18; color: $c3; font-weight: 400;}
                p{font-size:$px14; line-height: $px14; color: $c9; padding: 16px 0 20px;}
                .picture{
                    width: 458px;height: 288px;
                    img{width: 458px;height: 288px;}
                }
                &:nth-child(odd){margin-right: 20px;}
            }
            /*活动 end*/
        }
    }
    /*福利活动 start*/

    /*618活动详情页 start*/
    .activities618{
        .top{width: 100%;height: 500px;background:url("/static/images/activities/activities618-top.jpg") no-repeat center center;}
        .layer{width: 1000px;}
        .content{
            background:url("/static/images/activities/activities618-content.jpg");
            /*新手活动 start*/
            .novice{
                .title{width: 1000px;height: 38px;padding:40px 0;background:url("/static/images/activities/novice-title.png") no-repeat center center;}
                h3{font-size:$px18;line-height:42px;color: #fdce98;}
                table,table tr th, table tr td { border:1px solid #fdce98; text-align: $ta-c; }
                .activities-table{
                    width: 1000px; margin-top:30px;line-height: 66px; text-align: $ta-c;color: #e2ccb4;font-size:20px;
                    .table-l{width: 280px;}
                    .table-r{width: 718px;}
                }
                p{font-size:$px16;color: #e2ccb4;line-height: 36px;}
                .p-top{padding-top: 30px;}
                .btn{ clear: both; display:$db; width: 360px; height: 66px; margin: 60px auto 0; text-align: $ta-c;font-size:32px; color: #9b481a; line-height: 66px; border-radius: 10px;
                    background: -moz-linear-gradient(top, #e6bc8c 0%, #f2b064 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6bc8c), color-stop(100%,#f2b064));
                    background: -webkit-linear-gradient(top, #e6bc8c 0%,#f2b064 100%);
                    background: -o-linear-gradient(top, #e6bc8c 0%,#f2b064 100%);
                    background: -ms-linear-gradient(top, #e6bc8c 0%,#f2b064 100%);
                    background: linear-gradient(to bottom, #e6bc8c 0%,#f2b064 100%);
                }
            }
            /*新手活动 end*/

            /*标的 start*/
            .subject{
                width: 920px; margin-top:80px; padding:50px 40px;background:url("/static/images/activities/subject-bg.jpg") no-repeat center center;
                .content{
                    float:left;width: 220px;height: 240px; padding:30px 35px 40px;background:$cf;
                    .title{padding-bottom:20px;text-align: center;
                        .title-icon{ width: 20px; height: 26px; margin: 0 10px 0 14px;background:url("/static/images/activities/title-icon.png") no-repeat;}
                        .title-word{line-height: 26px;font-size:20px; color: $c3;}
                    }
                    h3{
                        font-size:42px;color: #fe6733;text-align: $ta-c;
                        span{font-size:20px;}
                    }
                    h4{ padding-top: 10px; font-size:$px14; color: $c9;text-align: $ta-c;}
                    .data{
                        padding:25px 0;font-size:$px14;color: $c6;
                        .data-l{ width: 74px; padding-right: 16px;}
                        .data-r{ width: 130px;}
                    }
                    .btn{display: $db; width: 180px; height: 40px; line-height: 40px; text-align: $ta-c; color: $cf;font-size:$px18; background:#fe6733;border-radius: 8px; }
                }
                .content-m{margin: 0 25px;}
            }
            .subject-bottom{width: 100%;height: 80px;}
            /*标的 end*/
        }
    }
    /*618活动详情页 end*/

}


